:root {
  /* Se trabaja con una paleta de colores análoga */
  --color-primario: #47489e;
  --color-secundario: #4ba1ef;
  --color-terciario: #7fde92;
  --text-color: whitesmoke;
  --text-color-dark: #555;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Rubik", sans-serif;
  color: var(--text-color);
  margin: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* Estilos header-aside */
.header {
  background-color: var(--color-primario);
  width: 290px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-flow: column wrap;
  border-right: solid var(--text-color) 1px;
}
.header-title {
  margin: 0;
  font-size: 2rem;
  height: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 50px;

  /* text-align: center; */
  /* letter-spacing: 1.5px; */
  line-height: 3rem;
}
.nav--desktop {
  height: 70%;
}
.header__nav__list {
  height: 100%;
  list-style: none;
  padding: 0 0 0 50px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
.header__list-item {
  margin: 15px 0px;
  font-size: 0.9rem;
}
.header__list-item a {
  text-decoration: none;
  color: var(--text-color);
}
.header__list-item a i {
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: 20px;
  color: var(--color-terciario);
}

/* Estilos sections */
/* General */
section {
  float: right;
  width: calc(100% - 290px);
  height: 100vh;
  background: var(--text-color);
}
/* Section home */
.section-home {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: var(--color-primario);
}
.section-home__img-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: var(--color-secundario);
  overflow: hidden;
  box-shadow: 3px 3px 8px rgb(51, 51, 51);
}
.section-home__img {
  max-width: 100%;
  height: auto;
  filter: drop-shadow(1px 1px 5px #555);
}
.section-home__title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 0;
}
.section-home__subtitle {
  font-weight: normal;
  margin: 15px 0;
  font-size: 1rem;
}
.section-home__icon-container {
  width: 200px;
  height: 40px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-home__icon-container__icon {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text-color);
}
.section-home__icon-container__icon:hover {
  color: var(--color-terciario);
}
.section-home__btn {
  margin: 10px 0;
  height: 50px;
  width: 120px;
  border: none;
  transition: all 0.3s;
  /* background: var(--color-secundario); */
  background: linear-gradient(
    45deg,
    var(--color-terciario),
    var(--color-secundario),
    var(--color-terciario),
    var(--color-secundario)
  );
  background-size: 200% 100%;
  color: var(--text-color);
  border-radius: 25px;
  font-size: 1rem;
  box-shadow: 2px 2px 5px rgb(51, 51, 51), -1px -1px 2px #4ba0efad;
}

.section-home__btn:hover {
  background-position-x: 100%;
}

.section-home__btn-icon-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.section-home__btn-icon-container__text {
  /* text-decoration: underline; */
}
.section-home__btn-icon-container__icon {
  font-size: 1.5rem;
  transition: all 0.5 ease-in-out;
  /* animation: scale 5s infinite; */
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Section about */
/* 
            <div class="section-about__card__presentacion-container">
                <div class="section-about__card__presentacion-container__info">
                <p class="section-about__card__presentacion-container__info__text">Hola! Estoy en búsqueda de mi primer trabajo como desarrollador web. Estoy a dos finales de recibirme como Analista de Sistemas y soy un estudiante empedernido, considerando que siempre hay algo nuevo por aprender o mejorar.</p>
                <button class="section-about__card__presentacion-container__info__btn">Ver Currículum</button>
                </div>
                <div class="section-about__card__presentacion-container__skills">
                    <div class="section-about__card__presentacion-container__skills__img-container"><img src="images/foto.png" alt="foto de rostro Marcelo Puppio" class="section-about__card__presentacion-container__skills__img"></div>    
                    <div class="section-about__card__presentacion-container__skills__img-container"><img src="images/foto.png" alt="foto de rostro Marcelo Puppio" class="section-about__card__presentacion-container__skills__img"></div>    
                    <div class="section-about__card__presentacion-container__skills__img-container"><img src="images/foto.png" alt="foto de rostro Marcelo Puppio" class="section-about__card__presentacion-container__skills__img"></div>    
                    <div class="section-about__card__presentacion-container__skills__img-container"><img src="images/foto.png" alt="foto de rostro Marcelo Puppio" class="section-about__card__presentacion-container__skills__img"></div>    
                </div>
            </div>
    </section> */
.section-about {
  background: var(--text-color);
  color: var(--text-color-dark);
}
.section-about__title {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 30px 0 0 30px;
}
.section-about__card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
}

.section-about__card__img-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); */
  /* background: linear-gradient(45deg, var(--color-primario), var(--text-color)); */
  background: var(--text-color-dark);
  overflow: hidden;
  position: relative;
  box-shadow: 3px 3px 8px rgb(51, 51, 51);
}
.section-about__img {
  max-width: 100%;
  height: auto;
  filter: drop-shadow(3px 3px 8px rgb(51, 51, 51));
}
.section-about__card__presentacion-container {
  width: calc(100% - 350px);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.section-about__card__presentacion-container__info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  padding: 15px;
  height: auto;
  /* background: linear-gradient(
    to right,
    var(--color-terciario),
    var(--color-secundario),
    var(--color-primario)
  ); */
  z-index: 1;
  box-shadow: 3px 3px 8px rgb(51, 51, 51);
}
.section-about__card__presentacion-container__info::before {
  content: "";
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  position: absolute;
  left: -20px;
  top: 20px;
  background: var(--color-terciario);
  z-index: -1;
}

.section-about__card__presentacion-container__info__text {
  color: var(--text-color-dark);
  line-height: 2rem;
  font-size: 1.2rem;
  position: relative;
  padding-left: 10px;
  color: #222;
}
.section-about__card__presentacion-container__info__text::before {
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  z-index: -1;
  position: absolute;
  background: var(--text-color);
  filter: opacity(0.3);
}

.section-about__card__presentacion-container__info__btn {
  margin: 10px 0;
  height: 50px;
  width: 120px;
  border: none;
  transition: all 0.3s;
  background: var(--color-secundario);
  color: var(--text-color);
  border-radius: 25px;
  font-size: 0.9rem;
  box-shadow: 2px 2px 5px rgb(51, 51, 51), -1px -1px 2px #4ba0efad;
}
.section-about__card__presentacion-container__skills {
  flex-basis: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  position: relative;
}
.section-about__card__presentacion-container__skills__img-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #252525;
  background: var(--color-primario);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 5px;
}
.section-about__card__presentacion-container__skills__img-container:nth-child(3n
    + 2) {
  background: var(--color-secundario);
}
.section-about__card__presentacion-container__skills__img-container:nth-child(3n
    + 3) {
  background: var(--color-terciario);
}
.section-about__card__presentacion-container__skills__img {
  max-width: 60%;
  height: auto;
  transition: all 0.6s ease-in-out;
}
.skills__text {
  position: absolute;
  color: var(--text-color-dark);
  font-weight: bold;
  background: var(--text-color);
  padding: 2px 3px;
  transition: all 0.6s;
  opacity: 0;
}
.section-about__card__presentacion-container__skills__img-container:hover
  > .skills__text {
  display: block;
  opacity: 1;
}
.section-about__card__presentacion-container__skills__img-container:hover
  > .section-about__card__presentacion-container__skills__img {
  filter: opacity(0.5);
  transform: scale(1.3);
}
